In [1]:
import pandas as pd 

total_dataset_v1 = pd.read_csv('./total_cleaned_v1.csv', sep=',')

print(total_dataset_v1)

     Unnamed: 0  Unnamed: 0.1  Respondentnummer  Gender Zip-code  \
0             0           0.0          210153.0     1.0  2516 VN
1             1           1.0          212120.0     1.0  3079 HK
2             2           2.0          219179.0     1.0  2526 HR
3             3           3.0          219172.0     0.0  2526 HR
4             4           4.0          201163.0     0.0      NaN
..          ...           ...               ...     ...      ...
547         547         547.0          219304.0     1.0      NaN
548         548         548.0          207117.0     1.0  2313 AB
549         549         549.0          209121.0     0.0  2571 VD
550         550         550.0          209146.0     0.0  2571 VD
551         551           NaN               NaN     NaN      NaN

    Geboortedatum  Age on testday (t0)  Leeftijd (op testdag)  \
0      21.08.2016               4.0903                 4.0903
1      12.01.2016               4.1424                 4.1424
2      19.01.2016               4.1424                 4.1424
3      17.01.2016               4.1478                 4.1478
4      17.12.2015               4.1780                 4.1780
..            ...                  ...                    ...
547    30.01.2013               7.1102                 7.1102
548    07.05.2013               7.1704                 7.1704
549    10.07.2013               7.2197                 7.2197
550    07.02.2013               7.6386                 7.6386
551           NaN                  NaN                    NaN

     AST (tijd afgerond op 0.1s)          MQ  ...  5. Hinkelen 2  \
0                          28.10  112.811388  ...              2
1                          45.60   69.517544  ...              4
2                          40.40   78.465347  ...            NaN
3                          35.60   88.061798  ...            NaN
4                          38.70   81.007752  ...              4
..                           ...         ...  ...            ...
547                        30.40         NaN  ...            NaN
548                        22.80    0.000000  ...              4
549                        17.56         NaN  ...            NaN
550                        17.43         NaN  ...              3
551                          NaN         NaN  ...            NaN

     6. Bal rollen 2  7. Loopsprong 2  8. Bal schoppen 2  \
0                  4                1                  3
1                  4                4                  4
2                NaN              NaN                NaN
3                NaN              NaN                NaN
4                  4                4                  4
..               ...              ...                ...
547              NaN              NaN                NaN
548                4                4                  2
549              NaN              NaN                NaN
550                4                4                  3
551              NaN              NaN                NaN

     9. Voorw. Springen 2  10. Knuppel 2  11. Zijw. Gallop 2  \
0                       1              1                   1
1                       4              4                   4
2                     NaN            NaN                 NaN
3                     NaN            NaN                 NaN
4                       4              4                   4
..                    ...            ...                 ...
547                   NaN            NaN                 NaN
548                     4              4                   4
549                   NaN            NaN                 NaN
550                     4              3                   3
551                   NaN            NaN                 NaN

     12. Stuiten bal 2  Testdatum 2  Age on testday (t0).1
0                    1   07.04.2021                    NaN
1                    4   29.03.2021                    NaN
2                  NaN   17.06.2021                    NaN
3                  NaN   17.06.2021                    NaN
4                    4   31.03.2021                    NaN
..                 ...          ...                    ...
547                NaN          NaN                    NaN
548                  4   12.04.2021                    NaN
549                NaN   17.05.2021                    NaN
550                  4   17.05.2021                    NaN
551                NaN          NaN             28.03.2014

[552 rows x 185 columns]

In [2]:
total_dataset_v1.drop('Age on testday (t0).1', axis=1, inplace=True)

In [3]:
print(total_dataset_v1)

     Unnamed: 0  Unnamed: 0.1  Respondentnummer  Gender Zip-code  \
0             0           0.0          210153.0     1.0  2516 VN
1             1           1.0          212120.0     1.0  3079 HK
2             2           2.0          219179.0     1.0  2526 HR
3             3           3.0          219172.0     0.0  2526 HR
4             4           4.0          201163.0     0.0      NaN
..          ...           ...               ...     ...      ...
547         547         547.0          219304.0     1.0      NaN
548         548         548.0          207117.0     1.0  2313 AB
549         549         549.0          209121.0     0.0  2571 VD
550         550         550.0          209146.0     0.0  2571 VD
551         551           NaN               NaN     NaN      NaN

    Geboortedatum  Age on testday (t0)  Leeftijd (op testdag)  \
0      21.08.2016               4.0903                 4.0903
1      12.01.2016               4.1424                 4.1424
2      19.01.2016               4.1424                 4.1424
3      17.01.2016               4.1478                 4.1478
4      17.12.2015               4.1780                 4.1780
..            ...                  ...                    ...
547    30.01.2013               7.1102                 7.1102
548    07.05.2013               7.1704                 7.1704
549    10.07.2013               7.2197                 7.2197
550    07.02.2013               7.6386                 7.6386
551           NaN                  NaN                    NaN

     AST (tijd afgerond op 0.1s)          MQ  ...  4. Bal vangen 2  \
0                          28.10  112.811388  ...                1
1                          45.60   69.517544  ...                4
2                          40.40   78.465347  ...              NaN
3                          35.60   88.061798  ...              NaN
4                          38.70   81.007752  ...                4
..                           ...         ...  ...              ...
547                        30.40         NaN  ...              NaN
548                        22.80    0.000000  ...                4
549                        17.56         NaN  ...              NaN
550                        17.43         NaN  ...                4
551                          NaN         NaN  ...              NaN

     5. Hinkelen 2  6. Bal rollen 2  7. Loopsprong 2  8. Bal schoppen 2  \
0                2                4                1                  3
1                4                4                4                  4
2              NaN              NaN              NaN                NaN
3              NaN              NaN              NaN                NaN
4                4                4                4                  4
..             ...              ...              ...                ...
547            NaN              NaN              NaN                NaN
548              4                4                4                  2
549            NaN              NaN              NaN                NaN
550              3                4                4                  3
551            NaN              NaN              NaN                NaN

     9. Voorw. Springen 2  10. Knuppel 2  11. Zijw. Gallop 2  \
0                       1              1                   1
1                       4              4                   4
2                     NaN            NaN                 NaN
3                     NaN            NaN                 NaN
4                       4              4                   4
..                    ...            ...                 ...
547                   NaN            NaN                 NaN
548                     4              4                   4
549                   NaN            NaN                 NaN
550                     4              3                   3
551                   NaN            NaN                 NaN

     12. Stuiten bal 2  Testdatum 2
0                    1   07.04.2021
1                    4   29.03.2021
2                  NaN   17.06.2021
3                  NaN   17.06.2021
4                    4   31.03.2021
..                 ...          ...
547                NaN          NaN
548                  4   12.04.2021
549                NaN   17.05.2021
550                  4   17.05.2021
551                NaN          NaN

[552 rows x 184 columns]

In [4]:
total_dataset_v1.drop('Unnamed: 0', axis=1, inplace=True)

In [5]:
print(total_dataset_v1)

     Unnamed: 0.1  Respondentnummer  Gender Zip-code Geboortedatum  \
0             0.0          210153.0     1.0  2516 VN    21.08.2016
1             1.0          212120.0     1.0  3079 HK    12.01.2016
2             2.0          219179.0     1.0  2526 HR    19.01.2016
3             3.0          219172.0     0.0  2526 HR    17.01.2016
4             4.0          201163.0     0.0      NaN    17.12.2015
..            ...               ...     ...      ...           ...
547         547.0          219304.0     1.0      NaN    30.01.2013
548         548.0          207117.0     1.0  2313 AB    07.05.2013
549         549.0          209121.0     0.0  2571 VD    10.07.2013
550         550.0          209146.0     0.0  2571 VD    07.02.2013
551           NaN               NaN     NaN      NaN           NaN

     Age on testday (t0)  Leeftijd (op testdag)  AST (tijd afgerond op 0.1s)  \
0                 4.0903                 4.0903                        28.10
1                 4.1424                 4.1424                        45.60
2                 4.1424                 4.1424                        40.40
3                 4.1478                 4.1478                        35.60
4                 4.1780                 4.1780                        38.70
..                   ...                    ...                          ...
547               7.1102                 7.1102                        30.40
548               7.1704                 7.1704                        22.80
549               7.2197                 7.2197                        17.56
550               7.6386                 7.6386                        17.43
551                  NaN                    NaN                          NaN

             MQ  Lengte (afgerond op 0.1 cm)  ...  4. Bal vangen 2  \
0    112.811388                        103.1  ...                1
1     69.517544                        105.0  ...                4
2     78.465347                        102.0  ...              NaN
3     88.061798                        109.0  ...              NaN
4     81.007752                        108.0  ...                4
..          ...                          ...  ...              ...
547         NaN                        117.0  ...              NaN
548    0.000000                        114.2  ...                4
549         NaN                        119.0  ...              NaN
550         NaN                        120.3  ...                4
551         NaN                          NaN  ...              NaN

     5. Hinkelen 2  6. Bal rollen 2  7. Loopsprong 2  8. Bal schoppen 2  \
0                2                4                1                  3
1                4                4                4                  4
2              NaN              NaN              NaN                NaN
3              NaN              NaN              NaN                NaN
4                4                4                4                  4
..             ...              ...              ...                ...
547            NaN              NaN              NaN                NaN
548              4                4                4                  2
549            NaN              NaN              NaN                NaN
550              3                4                4                  3
551            NaN              NaN              NaN                NaN

     9. Voorw. Springen 2  10. Knuppel 2  11. Zijw. Gallop 2  \
0                       1              1                   1
1                       4              4                   4
2                     NaN            NaN                 NaN
3                     NaN            NaN                 NaN
4                       4              4                   4
..                    ...            ...                 ...
547                   NaN            NaN                 NaN
548                     4              4                   4
549                   NaN            NaN                 NaN
550                     4              3                   3
551                   NaN            NaN                 NaN

     12. Stuiten bal 2  Testdatum 2
0                    1   07.04.2021
1                    4   29.03.2021
2                  NaN   17.06.2021
3                  NaN   17.06.2021
4                    4   31.03.2021
..                 ...          ...
547                NaN          NaN
548                  4   12.04.2021
549                NaN   17.05.2021
550                  4   17.05.2021
551                NaN          NaN

[552 rows x 183 columns]

In [6]:
total_dataset_v1.drop('Unnamed: 0.1', axis=1, inplace=True)

In [7]:
print(total_dataset_v1)

     Respondentnummer  Gender Zip-code Geboortedatum  Age on testday (t0)  \
0            210153.0     1.0  2516 VN    21.08.2016               4.0903
1            212120.0     1.0  3079 HK    12.01.2016               4.1424
2            219179.0     1.0  2526 HR    19.01.2016               4.1424
3            219172.0     0.0  2526 HR    17.01.2016               4.1478
4            201163.0     0.0      NaN    17.12.2015               4.1780
..                ...     ...      ...           ...                  ...
547          219304.0     1.0      NaN    30.01.2013               7.1102
548          207117.0     1.0  2313 AB    07.05.2013               7.1704
549          209121.0     0.0  2571 VD    10.07.2013               7.2197
550          209146.0     0.0  2571 VD    07.02.2013               7.6386
551               NaN     NaN      NaN           NaN                  NaN

     Leeftijd (op testdag)  AST (tijd afgerond op 0.1s)          MQ  \
0                   4.0903                        28.10  112.811388
1                   4.1424                        45.60   69.517544
2                   4.1424                        40.40   78.465347
3                   4.1478                        35.60   88.061798
4                   4.1780                        38.70   81.007752
..                     ...                          ...         ...
547                 7.1102                        30.40         NaN
548                 7.1704                        22.80    0.000000
549                 7.2197                        17.56         NaN
550                 7.6386                        17.43         NaN
551                    NaN                          NaN         NaN

     Lengte (afgerond op 0.1 cm)  Gewicht (afgerond op 0.1 kg)  ...  \
0                          103.1                          17.2  ...
1                          105.0                          17.0  ...
2                          102.0                          15.2  ...
3                          109.0                          19.2  ...
4                          108.0                          18.5  ...
..                           ...                           ...  ...
547                        117.0                          20.7  ...
548                        114.2                          22.4  ...
549                        119.0                          21.4  ...
550                        120.3                          24.8  ...
551                          NaN                           NaN  ...

     4. Bal vangen 2  5. Hinkelen 2  6. Bal rollen 2  7. Loopsprong 2  \
0                  1              2                4                1
1                  4              4                4                4
2                NaN            NaN              NaN              NaN
3                NaN            NaN              NaN              NaN
4                  4              4                4                4
..               ...            ...              ...              ...
547              NaN            NaN              NaN              NaN
548                4              4                4                4
549              NaN            NaN              NaN              NaN
550                4              3                4                4
551              NaN            NaN              NaN              NaN

     8. Bal schoppen 2  9. Voorw. Springen 2  10. Knuppel 2  \
0                    3                     1              1
1                    4                     4              4
2                  NaN                   NaN            NaN
3                  NaN                   NaN            NaN
4                    4                     4              4
..                 ...                   ...            ...
547                NaN                   NaN            NaN
548                  2                     4              4
549                NaN                   NaN            NaN
550                  3                     4              3
551                NaN                   NaN            NaN

     11. Zijw. Gallop 2  12. Stuiten bal 2  Testdatum 2
0                     1                  1   07.04.2021
1                     4                  4   29.03.2021
2                   NaN                NaN   17.06.2021
3                   NaN                NaN   17.06.2021
4                     4                  4   31.03.2021
..                  ...                ...          ...
547                 NaN                NaN          NaN
548                   4                  4   12.04.2021
549                 NaN                NaN   17.05.2021
550                   3                  4   17.05.2021
551                 NaN                NaN          NaN

[552 rows x 182 columns]

In [11]:
total_dataset_v1.drop('Opmerkingen 2.1', axis=1, inplace=True)

In [12]:
total_dataset_v1.drop('Opmerkingen2', axis=1, inplace=True)

In [13]:
print(total_dataset_v1)

     Respondentnummer  Gender Zip-code Geboortedatum  Age on testday (t0)  \
0            210153.0     1.0  2516 VN    21.08.2016               4.0903
1            212120.0     1.0  3079 HK    12.01.2016               4.1424
2            219179.0     1.0  2526 HR    19.01.2016               4.1424
3            219172.0     0.0  2526 HR    17.01.2016               4.1478
4            201163.0     0.0      NaN    17.12.2015               4.1780
..                ...     ...      ...           ...                  ...
547          219304.0     1.0      NaN    30.01.2013               7.1102
548          207117.0     1.0  2313 AB    07.05.2013               7.1704
549          209121.0     0.0  2571 VD    10.07.2013               7.2197
550          209146.0     0.0  2571 VD    07.02.2013               7.6386
551               NaN     NaN      NaN           NaN                  NaN

     Leeftijd (op testdag)  AST (tijd afgerond op 0.1s)          MQ  \
0                   4.0903                        28.10  112.811388
1                   4.1424                        45.60   69.517544
2                   4.1424                        40.40   78.465347
3                   4.1478                        35.60   88.061798
4                   4.1780                        38.70   81.007752
..                     ...                          ...         ...
547                 7.1102                        30.40         NaN
548                 7.1704                        22.80    0.000000
549                 7.2197                        17.56         NaN
550                 7.6386                        17.43         NaN
551                    NaN                          NaN         NaN

     Lengte (afgerond op 0.1 cm)  Gewicht (afgerond op 0.1 kg)  ...  \
0                          103.1                          17.2  ...
1                          105.0                          17.0  ...
2                          102.0                          15.2  ...
3                          109.0                          19.2  ...
4                          108.0                          18.5  ...
..                           ...                           ...  ...
547                        117.0                          20.7  ...
548                        114.2                          22.4  ...
549                        119.0                          21.4  ...
550                        120.3                          24.8  ...
551                          NaN                           NaN  ...

     4. Bal vangen 2  5. Hinkelen 2  6. Bal rollen 2  7. Loopsprong 2  \
0                  1              2                4                1
1                  4              4                4                4
2                NaN            NaN              NaN              NaN
3                NaN            NaN              NaN              NaN
4                  4              4                4                4
..               ...            ...              ...              ...
547              NaN            NaN              NaN              NaN
548                4              4                4                4
549              NaN            NaN              NaN              NaN
550                4              3                4                4
551              NaN            NaN              NaN              NaN

     8. Bal schoppen 2  9. Voorw. Springen 2  10. Knuppel 2  \
0                    3                     1              1
1                    4                     4              4
2                  NaN                   NaN            NaN
3                  NaN                   NaN            NaN
4                    4                     4              4
..                 ...                   ...            ...
547                NaN                   NaN            NaN
548                  2                     4              4
549                NaN                   NaN            NaN
550                  3                     4              3
551                NaN                   NaN            NaN

     11. Zijw. Gallop 2  12. Stuiten bal 2  Testdatum 2
0                     1                  1   07.04.2021
1                     4                  4   29.03.2021
2                   NaN                NaN   17.06.2021
3                   NaN                NaN   17.06.2021
4                     4                  4   31.03.2021
..                  ...                ...          ...
547                 NaN                NaN          NaN
548                   4                  4   12.04.2021
549                 NaN                NaN   17.05.2021
550                   3                  4   17.05.2021
551                 NaN                NaN          NaN

[552 rows x 180 columns]

In [14]:
total_dataset_v1.to_csv(r'./total_cleaned_v2.csv')