In [19]:
import pandas as pd 

total_dataset = pd.read_csv('./total_cleaned.csv', sep=',')

print(total_dataset)

     Unnamed: 0  Respondentnummer  Gender_x Zip-code Geboortedatum  \
0             0            210153       1.0  2516 VN   21.Aug.2016
1             1            212120       1.0  3079 HK   12.Jan.2016
2             2            219179       1.0  2526 HR   19.Jan.2016
3             3            219172       0.0  2526 HR   17.Jan.2016
4             4            201163       0.0      NaN   17.Dec.2015
..          ...               ...       ...      ...           ...
551         551            202175       1.0  3082 VW           NaN
552         552            204101       0.0  2562 SK           NaN
553         553            204139       1.0  2562 SK           NaN
554         554            215165       1.0  2264 KW           NaN
555         555            216103       1.0  2266 HA           NaN

     Leeftijd (op testdag)  AST (tijd afgerond op 0.1s)          MQ  \
0                   4.0903                         28.1  112.811388
1                   4.1424                         45.6   69.517544
2                   4.1424                         40.4   78.465347
3                   4.1478                         35.6   88.061798
4                   4.1780                         38.7   81.007752
..                     ...                          ...         ...
551                    NaN                         19.7  109.644670
552                    NaN                         21.3         NaN
553                    NaN                         26.9   80.297398
554                    NaN                          NaN         NaN
555                    NaN                          NaN         NaN

     Lengte (afgerond op 0.1 cm)  Gewicht (afgerond op 0.1 kg)  ...  \
0                          103.1                          17.2  ...
1                          105.0                          17.0  ...
2                          102.0                          15.2  ...
3                          109.0                          19.2  ...
4                          108.0                          18.5  ...
..                           ...                           ...  ...
551                        112.0                          17.9  ...
552                        122.8                          26.6  ...
553                        112.7                          18.4  ...
554                        117.8                          18.8  ...
555                        110.3                          18.9  ...

     4. Bal vangen 2  5. Hinkelen 2  6. Bal rollen 2  7. Loopsprong 2  \
0                  1              2                4                1
1                  4              4                4                4
2                NaN            NaN              NaN              NaN
3                NaN            NaN              NaN              NaN
4                  4              4                4                4
..               ...            ...              ...              ...
551                1              4                4                4
552                3              4                4                3
553              NaN            NaN              NaN              NaN
554                3              4                4                3
555              NaN            NaN              NaN              NaN

     8. Bal schoppen 2  9. Voorw. Springen 2  10. Knuppel 2  \
0                    3                     1              1
1                    4                     4              4
2                  NaN                   NaN            NaN
3                  NaN                   NaN            NaN
4                    4                     4              4
..                 ...                   ...            ...
551                  4                     4              2
552                  4                     4              2
553                NaN                   NaN            NaN
554                  4                     4              3
555                NaN                   NaN            NaN

     11. Zijw. Gallop 2  12. Stuiten bal 2  Testdatum 2
0                     1                  1   04/07/2021
1                     4                  4   03/29/2021
2                   NaN                NaN   06/17/2021
3                   NaN                NaN   06/17/2021
4                     4                  4   03/31/2021
..                  ...                ...          ...
551                   4                  4   06/21/2021
552                   4                  4   04/16/2021
553                 NaN                NaN   04/16/2021
554                   3                  3   05/11/2021
555                 NaN                NaN   04/07/2021

[556 rows x 186 columns]

In [20]:
# Change data format in "Testdatum 2" from mm/dd/yy to dd.mm.yy

print(total_dataset["Testdatum 2"])   # entire column

print(total_dataset["Testdatum 2"][1])    # one date

0      04/07/2021
1      03/29/2021
2      06/17/2021
3      06/17/2021
4      03/31/2021
          ...
551    06/21/2021
552    04/16/2021
553    04/16/2021
554    05/11/2021
555    04/07/2021
Name: Testdatum 2, Length: 556, dtype: object
03/29/2021

In [21]:
# Example of changing date format

import datetime

date_input = '20190707'
dateTimeObject = datetime.datetime.strptime(date_input, '%Y%m%d')
print(date_input)

new_format = dateTimeObject.strftime('%m-%d-%Y')
print(new_format)

20190707
07-07-2019

In [22]:
import datetime

total_dataset['Testdatum 2'] = pd.to_datetime(total_dataset['Testdatum 2'])

total_dataset['Testdatum 2'] = total_dataset['Testdatum 2'].dt.strftime('%d.%m.%Y')
print(total_dataset['Testdatum 2'])

0      07.04.2021
1      29.03.2021
2      17.06.2021
3      17.06.2021
4      31.03.2021
          ...
551    21.06.2021
552    16.04.2021
553    16.04.2021
554    11.05.2021
555    07.04.2021
Name: Testdatum 2, Length: 556, dtype: object

In [23]:
print(total_dataset['Geboortedatum'])

0      21.Aug.2016
1      12.Jan.2016
2      19.Jan.2016
3      17.Jan.2016
4      17.Dec.2015
          ...
551            NaN
552            NaN
553            NaN
554            NaN
555            NaN
Name: Geboortedatum, Length: 556, dtype: object

In [24]:
total_dataset['Geboortedatum'] = pd.to_datetime(total_dataset['Geboortedatum'])

total_dataset['Geboortedatum'] = total_dataset['Geboortedatum'].dt.strftime('%d.%m.%Y')
print(total_dataset['Geboortedatum'])

0      21.08.2016
1      12.01.2016
2      19.01.2016
3      17.01.2016
4      17.12.2015
          ...
551           NaN
552           NaN
553           NaN
554           NaN
555           NaN
Name: Geboortedatum, Length: 556, dtype: object

In [25]:
print(total_dataset)

     Unnamed: 0  Respondentnummer  Gender_x Zip-code Geboortedatum  \
0             0            210153       1.0  2516 VN    21.08.2016
1             1            212120       1.0  3079 HK    12.01.2016
2             2            219179       1.0  2526 HR    19.01.2016
3             3            219172       0.0  2526 HR    17.01.2016
4             4            201163       0.0      NaN    17.12.2015
..          ...               ...       ...      ...           ...
551         551            202175       1.0  3082 VW           NaN
552         552            204101       0.0  2562 SK           NaN
553         553            204139       1.0  2562 SK           NaN
554         554            215165       1.0  2264 KW           NaN
555         555            216103       1.0  2266 HA           NaN

     Leeftijd (op testdag)  AST (tijd afgerond op 0.1s)          MQ  \
0                   4.0903                         28.1  112.811388
1                   4.1424                         45.6   69.517544
2                   4.1424                         40.4   78.465347
3                   4.1478                         35.6   88.061798
4                   4.1780                         38.7   81.007752
..                     ...                          ...         ...
551                    NaN                         19.7  109.644670
552                    NaN                         21.3         NaN
553                    NaN                         26.9   80.297398
554                    NaN                          NaN         NaN
555                    NaN                          NaN         NaN

     Lengte (afgerond op 0.1 cm)  Gewicht (afgerond op 0.1 kg)  ...  \
0                          103.1                          17.2  ...
1                          105.0                          17.0  ...
2                          102.0                          15.2  ...
3                          109.0                          19.2  ...
4                          108.0                          18.5  ...
..                           ...                           ...  ...
551                        112.0                          17.9  ...
552                        122.8                          26.6  ...
553                        112.7                          18.4  ...
554                        117.8                          18.8  ...
555                        110.3                          18.9  ...

     4. Bal vangen 2  5. Hinkelen 2  6. Bal rollen 2  7. Loopsprong 2  \
0                  1              2                4                1
1                  4              4                4                4
2                NaN            NaN              NaN              NaN
3                NaN            NaN              NaN              NaN
4                  4              4                4                4
..               ...            ...              ...              ...
551                1              4                4                4
552                3              4                4                3
553              NaN            NaN              NaN              NaN
554                3              4                4                3
555              NaN            NaN              NaN              NaN

     8. Bal schoppen 2  9. Voorw. Springen 2  10. Knuppel 2  \
0                    3                     1              1
1                    4                     4              4
2                  NaN                   NaN            NaN
3                  NaN                   NaN            NaN
4                    4                     4              4
..                 ...                   ...            ...
551                  4                     4              2
552                  4                     4              2
553                NaN                   NaN            NaN
554                  4                     4              3
555                NaN                   NaN            NaN

     11. Zijw. Gallop 2  12. Stuiten bal 2  Testdatum 2
0                     1                  1   07.04.2021
1                     4                  4   29.03.2021
2                   NaN                NaN   17.06.2021
3                   NaN                NaN   17.06.2021
4                     4                  4   31.03.2021
..                  ...                ...          ...
551                   4                  4   21.06.2021
552                   4                  4   16.04.2021
553                 NaN                NaN   16.04.2021
554                   3                  3   11.05.2021
555                 NaN                NaN   07.04.2021

[556 rows x 186 columns]

In [26]:
# Drop column Birthday 2

print(total_dataset['Geboortedatum 2'])

total_dataset.drop('Geboortedatum 2', axis=1, inplace=True)

0          08/21/2016
1          01/12/2016
2          01/19/2016
3          01/17/2016
4          12/17/2015
            ...
551        03/28/2014
552    niet ingevuld
553               NaN
554               NaN
555               NaN
Name: Geboortedatum 2, Length: 556, dtype: object

In [27]:
print(total_dataset)

     Unnamed: 0  Respondentnummer  Gender_x Zip-code Geboortedatum  \
0             0            210153       1.0  2516 VN    21.08.2016
1             1            212120       1.0  3079 HK    12.01.2016
2             2            219179       1.0  2526 HR    19.01.2016
3             3            219172       0.0  2526 HR    17.01.2016
4             4            201163       0.0      NaN    17.12.2015
..          ...               ...       ...      ...           ...
551         551            202175       1.0  3082 VW           NaN
552         552            204101       0.0  2562 SK           NaN
553         553            204139       1.0  2562 SK           NaN
554         554            215165       1.0  2264 KW           NaN
555         555            216103       1.0  2266 HA           NaN

     Leeftijd (op testdag)  AST (tijd afgerond op 0.1s)          MQ  \
0                   4.0903                         28.1  112.811388
1                   4.1424                         45.6   69.517544
2                   4.1424                         40.4   78.465347
3                   4.1478                         35.6   88.061798
4                   4.1780                         38.7   81.007752
..                     ...                          ...         ...
551                    NaN                         19.7  109.644670
552                    NaN                         21.3         NaN
553                    NaN                         26.9   80.297398
554                    NaN                          NaN         NaN
555                    NaN                          NaN         NaN

     Lengte (afgerond op 0.1 cm)  Gewicht (afgerond op 0.1 kg)  ...  \
0                          103.1                          17.2  ...
1                          105.0                          17.0  ...
2                          102.0                          15.2  ...
3                          109.0                          19.2  ...
4                          108.0                          18.5  ...
..                           ...                           ...  ...
551                        112.0                          17.9  ...
552                        122.8                          26.6  ...
553                        112.7                          18.4  ...
554                        117.8                          18.8  ...
555                        110.3                          18.9  ...

     4. Bal vangen 2  5. Hinkelen 2  6. Bal rollen 2  7. Loopsprong 2  \
0                  1              2                4                1
1                  4              4                4                4
2                NaN            NaN              NaN              NaN
3                NaN            NaN              NaN              NaN
4                  4              4                4                4
..               ...            ...              ...              ...
551                1              4                4                4
552                3              4                4                3
553              NaN            NaN              NaN              NaN
554                3              4                4                3
555              NaN            NaN              NaN              NaN

     8. Bal schoppen 2  9. Voorw. Springen 2  10. Knuppel 2  \
0                    3                     1              1
1                    4                     4              4
2                  NaN                   NaN            NaN
3                  NaN                   NaN            NaN
4                    4                     4              4
..                 ...                   ...            ...
551                  4                     4              2
552                  4                     4              2
553                NaN                   NaN            NaN
554                  4                     4              3
555                NaN                   NaN            NaN

     11. Zijw. Gallop 2  12. Stuiten bal 2  Testdatum 2
0                     1                  1   07.04.2021
1                     4                  4   29.03.2021
2                   NaN                NaN   17.06.2021
3                   NaN                NaN   17.06.2021
4                     4                  4   31.03.2021
..                  ...                ...          ...
551                   4                  4   21.06.2021
552                   4                  4   16.04.2021
553                 NaN                NaN   16.04.2021
554                   3                  3   11.05.2021
555                 NaN                NaN   07.04.2021

[556 rows x 185 columns]

In [28]:
print(total_dataset['Gender_x'])
print(total_dataset['Gender_y'])

0      1.0
1      1.0
2      1.0
3      0.0
4      0.0
      ...
551    1.0
552    0.0
553    1.0
554    1.0
555    1.0
Name: Gender_x, Length: 556, dtype: float64
0      1
1      1
2      1
3      0
4      0
      ..
551    1
552    0
553    1
554    1
555    1
Name: Gender_y, Length: 556, dtype: int64

In [29]:
# Drop column Gender_y

total_dataset.drop('Gender_y', axis=1, inplace=True)

In [30]:
# Rename column Gender_x

total_dataset.rename(columns={'Gender_x': 'Gender'}, inplace=True)

print(total_dataset)

     Unnamed: 0  Respondentnummer  Gender Zip-code Geboortedatum  \
0             0            210153     1.0  2516 VN    21.08.2016
1             1            212120     1.0  3079 HK    12.01.2016
2             2            219179     1.0  2526 HR    19.01.2016
3             3            219172     0.0  2526 HR    17.01.2016
4             4            201163     0.0      NaN    17.12.2015
..          ...               ...     ...      ...           ...
551         551            202175     1.0  3082 VW           NaN
552         552            204101     0.0  2562 SK           NaN
553         553            204139     1.0  2562 SK           NaN
554         554            215165     1.0  2264 KW           NaN
555         555            216103     1.0  2266 HA           NaN

     Leeftijd (op testdag)  AST (tijd afgerond op 0.1s)          MQ  \
0                   4.0903                         28.1  112.811388
1                   4.1424                         45.6   69.517544
2                   4.1424                         40.4   78.465347
3                   4.1478                         35.6   88.061798
4                   4.1780                         38.7   81.007752
..                     ...                          ...         ...
551                    NaN                         19.7  109.644670
552                    NaN                         21.3         NaN
553                    NaN                         26.9   80.297398
554                    NaN                          NaN         NaN
555                    NaN                          NaN         NaN

     Lengte (afgerond op 0.1 cm)  Gewicht (afgerond op 0.1 kg)  ...  \
0                          103.1                          17.2  ...
1                          105.0                          17.0  ...
2                          102.0                          15.2  ...
3                          109.0                          19.2  ...
4                          108.0                          18.5  ...
..                           ...                           ...  ...
551                        112.0                          17.9  ...
552                        122.8                          26.6  ...
553                        112.7                          18.4  ...
554                        117.8                          18.8  ...
555                        110.3                          18.9  ...

     4. Bal vangen 2  5. Hinkelen 2  6. Bal rollen 2  7. Loopsprong 2  \
0                  1              2                4                1
1                  4              4                4                4
2                NaN            NaN              NaN              NaN
3                NaN            NaN              NaN              NaN
4                  4              4                4                4
..               ...            ...              ...              ...
551                1              4                4                4
552                3              4                4                3
553              NaN            NaN              NaN              NaN
554                3              4                4                3
555              NaN            NaN              NaN              NaN

     8. Bal schoppen 2  9. Voorw. Springen 2  10. Knuppel 2  \
0                    3                     1              1
1                    4                     4              4
2                  NaN                   NaN            NaN
3                  NaN                   NaN            NaN
4                    4                     4              4
..                 ...                   ...            ...
551                  4                     4              2
552                  4                     4              2
553                NaN                   NaN            NaN
554                  4                     4              3
555                NaN                   NaN            NaN

     11. Zijw. Gallop 2  12. Stuiten bal 2  Testdatum 2
0                     1                  1   07.04.2021
1                     4                  4   29.03.2021
2                   NaN                NaN   17.06.2021
3                   NaN                NaN   17.06.2021
4                     4                  4   31.03.2021
..                  ...                ...          ...
551                   4                  4   21.06.2021
552                   4                  4   16.04.2021
553                 NaN                NaN   16.04.2021
554                   3                  3   11.05.2021
555                 NaN                NaN   07.04.2021

[556 rows x 184 columns]

In [31]:
# Round numbers in column Gender

total_dataset['Gender'] = total_dataset['Gender'].astype(int)
print(total_dataset['Gender'])

0      1
1      1
2      1
3      0
4      0
      ..
551    1
552    0
553    1
554    1
555    1
Name: Gender, Length: 556, dtype: int64

In [32]:
print(total_dataset)

     Unnamed: 0  Respondentnummer  Gender Zip-code Geboortedatum  \
0             0            210153       1  2516 VN    21.08.2016
1             1            212120       1  3079 HK    12.01.2016
2             2            219179       1  2526 HR    19.01.2016
3             3            219172       0  2526 HR    17.01.2016
4             4            201163       0      NaN    17.12.2015
..          ...               ...     ...      ...           ...
551         551            202175       1  3082 VW           NaN
552         552            204101       0  2562 SK           NaN
553         553            204139       1  2562 SK           NaN
554         554            215165       1  2264 KW           NaN
555         555            216103       1  2266 HA           NaN

     Leeftijd (op testdag)  AST (tijd afgerond op 0.1s)          MQ  \
0                   4.0903                         28.1  112.811388
1                   4.1424                         45.6   69.517544
2                   4.1424                         40.4   78.465347
3                   4.1478                         35.6   88.061798
4                   4.1780                         38.7   81.007752
..                     ...                          ...         ...
551                    NaN                         19.7  109.644670
552                    NaN                         21.3         NaN
553                    NaN                         26.9   80.297398
554                    NaN                          NaN         NaN
555                    NaN                          NaN         NaN

     Lengte (afgerond op 0.1 cm)  Gewicht (afgerond op 0.1 kg)  ...  \
0                          103.1                          17.2  ...
1                          105.0                          17.0  ...
2                          102.0                          15.2  ...
3                          109.0                          19.2  ...
4                          108.0                          18.5  ...
..                           ...                           ...  ...
551                        112.0                          17.9  ...
552                        122.8                          26.6  ...
553                        112.7                          18.4  ...
554                        117.8                          18.8  ...
555                        110.3                          18.9  ...

     4. Bal vangen 2  5. Hinkelen 2  6. Bal rollen 2  7. Loopsprong 2  \
0                  1              2                4                1
1                  4              4                4                4
2                NaN            NaN              NaN              NaN
3                NaN            NaN              NaN              NaN
4                  4              4                4                4
..               ...            ...              ...              ...
551                1              4                4                4
552                3              4                4                3
553              NaN            NaN              NaN              NaN
554                3              4                4                3
555              NaN            NaN              NaN              NaN

     8. Bal schoppen 2  9. Voorw. Springen 2  10. Knuppel 2  \
0                    3                     1              1
1                    4                     4              4
2                  NaN                   NaN            NaN
3                  NaN                   NaN            NaN
4                    4                     4              4
..                 ...                   ...            ...
551                  4                     4              2
552                  4                     4              2
553                NaN                   NaN            NaN
554                  4                     4              3
555                NaN                   NaN            NaN

     11. Zijw. Gallop 2  12. Stuiten bal 2  Testdatum 2
0                     1                  1   07.04.2021
1                     4                  4   29.03.2021
2                   NaN                NaN   17.06.2021
3                   NaN                NaN   17.06.2021
4                     4                  4   31.03.2021
..                  ...                ...          ...
551                   4                  4   21.06.2021
552                   4                  4   16.04.2021
553                 NaN                NaN   16.04.2021
554                   3                  3   11.05.2021
555                 NaN                NaN   07.04.2021

[556 rows x 184 columns]

In [33]:
# Drop columns Opmerkungen

print(total_dataset['Opmerkingen '])
total_dataset.drop('Opmerkingen ', axis=1, inplace=True)

0                        NaN
1                        NaN
2                        NaN
3                        NaN
4                        NaN
               ...
551                   Dansen
552                      NaN
553                      NaN
554    Turnen en paardrijden
555                  afwezig
Name: Opmerkingen , Length: 556, dtype: object

In [34]:
# Drop columns Opmerkungen 2

print(total_dataset['Opmerkingen 2'])
total_dataset.drop('Opmerkingen 2', axis=1, inplace=True)

0               NaN
1               NaN
2               NaN
3               NaN
4      ziek bij AST
           ...
551             NaN
552             NaN
553             NaN
554             NaN
555             NaN
Name: Opmerkingen 2, Length: 556, dtype: object

In [35]:
# Drop columns Opmerkungen 2

print(total_dataset['Opmerkingen 2'])
total_dataset.drop('Opmerkingen 2', axis=1, inplace=True)

KeyError: 'Opmerkingen 2'

In [ ]:
# Drop columns Opmerkungen 2.1

print(total_dataset['Opmerkingen 2.1'])
total_dataset.drop('Opmerkingen 2.1', axis=1, inplace=True)

In [ ]:
# Drop columns Opmerkungen2

print(total_dataset['Opmerkingen2'])
total_dataset.drop('Opmerkingen2', axis=1, inplace=True)

In [ ]:
print(total_dataset)

     Unnamed: 0  Respondentnummer  Gender Zip-code Geboortedatum  \
0             0            210153       1  2516 VN    21.08.2016
1             1            212120       1  3079 HK    12.01.2016
2             2            219179       1  2526 HR    19.01.2016
3             3            219172       0  2526 HR    17.01.2016
4             4            201163       0      NaN    17.12.2015
..          ...               ...     ...      ...           ...
551         551            202175       1  3082 VW           NaN
552         552            204101       0  2562 SK           NaN
553         553            204139       1  2562 SK           NaN
554         554            215165       1  2264 KW           NaN
555         555            216103       1  2266 HA           NaN

     Leeftijd (op testdag)  AST (tijd afgerond op 0.1s)          MQ  \
0                   4.0903                         28.1  112.811388
1                   4.1424                         45.6   69.517544
2                   4.1424                         40.4   78.465347
3                   4.1478                         35.6   88.061798
4                   4.1780                         38.7   81.007752
..                     ...                          ...         ...
551                    NaN                         19.7  109.644670
552                    NaN                         21.3         NaN
553                    NaN                         26.9   80.297398
554                    NaN                          NaN         NaN
555                    NaN                          NaN         NaN

     Lengte (afgerond op 0.1 cm)  Gewicht (afgerond op 0.1 kg)  ...  \
0                          103.1                          17.2  ...
1                          105.0                          17.0  ...
2                          102.0                          15.2  ...
3                          109.0                          19.2  ...
4                          108.0                          18.5  ...
..                           ...                           ...  ...
551                        112.0                          17.9  ...
552                        122.8                          26.6  ...
553                        112.7                          18.4  ...
554                        117.8                          18.8  ...
555                        110.3                          18.9  ...

     4. Bal vangen 2  5. Hinkelen 2  6. Bal rollen 2  7. Loopsprong 2  \
0                  1              2                4                1
1                  4              4                4                4
2                NaN            NaN              NaN              NaN
3                NaN            NaN              NaN              NaN
4                  4              4                4                4
..               ...            ...              ...              ...
551                1              4                4                4
552                3              4                4                3
553              NaN            NaN              NaN              NaN
554                3              4                4                3
555              NaN            NaN              NaN              NaN

     8. Bal schoppen 2  9. Voorw. Springen 2  10. Knuppel 2  \
0                    3                     1              1
1                    4                     4              4
2                  NaN                   NaN            NaN
3                  NaN                   NaN            NaN
4                    4                     4              4
..                 ...                   ...            ...
551                  4                     4              2
552                  4                     4              2
553                NaN                   NaN            NaN
554                  4                     4              3
555                NaN                   NaN            NaN

     11. Zijw. Gallop 2  12. Stuiten bal 2  Testdatum 2
0                     1                  1   07.04.2021
1                     4                  4   29.03.2021
2                   NaN                NaN   17.06.2021
3                   NaN                NaN   17.06.2021
4                     4                  4   31.03.2021
..                  ...                ...          ...
551                   4                  4   21.06.2021
552                   4                  4   16.04.2021
553                 NaN                NaN   16.04.2021
554                   3                  3   11.05.2021
555                 NaN                NaN   07.04.2021

[556 rows x 180 columns]

In [ ]:
# Round age of kids from Test 1 

total_dataset.rename(columns={'Leeftijd (op testdag)': 'Age on testday (t0)'}, inplace=True)
print(total_dataset['Age on testday (t0)'])

0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
551    NaN
552    NaN
553    NaN
554    NaN
555    NaN
Name: Age on testday (t0), Length: 556, dtype: float64

In [ ]:
old_total_dataset = pd.read_csv('./total.csv', sep=',')
print(old_total_dataset['Leeftijd (op testdag)'])

total_dataset.insert(5, "Age on testday (t0) 2", pd.Series(old_total_dataset['Leeftijd (op testdag)']))
print(total_dataset)

0      4.0903
1      4.1424
2      4.1424
3      4.1478
4      4.1780
        ...
551       NaN
552       NaN
553       NaN
554       NaN
555       NaN
Name: Leeftijd (op testdag), Length: 556, dtype: float64
     Unnamed: 0  Respondentnummer  Gender Zip-code Geboortedatum  \
0             0            210153       1  2516 VN    21.08.2016
1             1            212120       1  3079 HK    12.01.2016
2             2            219179       1  2526 HR    19.01.2016
3             3            219172       0  2526 HR    17.01.2016
4             4            201163       0      NaN    17.12.2015
..          ...               ...     ...      ...           ...
551         551            202175       1  3082 VW           NaN
552         552            204101       0  2562 SK           NaN
553         553            204139       1  2562 SK           NaN
554         554            215165       1  2264 KW           NaN
555         555            216103       1  2266 HA           NaN

     Age on testday (t0) 2  Age on testday (t0)  AST (tijd afgerond op 0.1s)  \
0                   4.0903                  0.0                         28.1
1                   4.1424                  0.0                         45.6
2                   4.1424                  0.0                         40.4
3                   4.1478                  0.0                         35.6
4                   4.1780                  0.0                         38.7
..                     ...                  ...                          ...
551                    NaN                  NaN                         19.7
552                    NaN                  NaN                         21.3
553                    NaN                  NaN                         26.9
554                    NaN                  NaN                          NaN
555                    NaN                  NaN                          NaN

             MQ  Lengte (afgerond op 0.1 cm)  ...  4. Bal vangen 2  \
0    112.811388                        103.1  ...                1
1     69.517544                        105.0  ...                4
2     78.465347                        102.0  ...              NaN
3     88.061798                        109.0  ...              NaN
4     81.007752                        108.0  ...                4
..          ...                          ...  ...              ...
551  109.644670                        112.0  ...                1
552         NaN                        122.8  ...                3
553   80.297398                        112.7  ...              NaN
554         NaN                        117.8  ...                3
555         NaN                        110.3  ...              NaN

     5. Hinkelen 2  6. Bal rollen 2  7. Loopsprong 2  8. Bal schoppen 2  \
0                2                4                1                  3
1                4                4                4                  4
2              NaN              NaN              NaN                NaN
3              NaN              NaN              NaN                NaN
4                4                4                4                  4
..             ...              ...              ...                ...
551              4                4                4                  4
552              4                4                3                  4
553            NaN              NaN              NaN                NaN
554              4                4                3                  4
555            NaN              NaN              NaN                NaN

     9. Voorw. Springen 2  10. Knuppel 2  11. Zijw. Gallop 2  \
0                       1              1                   1
1                       4              4                   4
2                     NaN            NaN                 NaN
3                     NaN            NaN                 NaN
4                       4              4                   4
..                    ...            ...                 ...
551                     4              2                   4
552                     4              2                   4
553                   NaN            NaN                 NaN
554                     4              3                   3
555                   NaN            NaN                 NaN

     12. Stuiten bal 2  Testdatum 2
0                    1   07.04.2021
1                    4   29.03.2021
2                  NaN   17.06.2021
3                  NaN   17.06.2021
4                    4   31.03.2021
..                 ...          ...
551                  4   21.06.2021
552                  4   16.04.2021
553                NaN   16.04.2021
554                  3   11.05.2021
555                NaN   07.04.2021

[556 rows x 181 columns]

In [ ]:
total_dataset.drop('Age on testday (t0)', axis=1, inplace=True)

In [ ]:
print(total_dataset)

     Unnamed: 0  Respondentnummer  Gender Zip-code Geboortedatum  \
0             0            210153       1  2516 VN    21.08.2016
1             1            212120       1  3079 HK    12.01.2016
2             2            219179       1  2526 HR    19.01.2016
3             3            219172       0  2526 HR    17.01.2016
4             4            201163       0      NaN    17.12.2015
..          ...               ...     ...      ...           ...
551         551            202175       1  3082 VW           NaN
552         552            204101       0  2562 SK           NaN
553         553            204139       1  2562 SK           NaN
554         554            215165       1  2264 KW           NaN
555         555            216103       1  2266 HA           NaN

     Age on testday (t0) 2  AST (tijd afgerond op 0.1s)          MQ  \
0                   4.0903                         28.1  112.811388
1                   4.1424                         45.6   69.517544
2                   4.1424                         40.4   78.465347
3                   4.1478                         35.6   88.061798
4                   4.1780                         38.7   81.007752
..                     ...                          ...         ...
551                    NaN                         19.7  109.644670
552                    NaN                         21.3         NaN
553                    NaN                         26.9   80.297398
554                    NaN                          NaN         NaN
555                    NaN                          NaN         NaN

     Lengte (afgerond op 0.1 cm)  Gewicht (afgerond op 0.1 kg)  ...  \
0                          103.1                          17.2  ...
1                          105.0                          17.0  ...
2                          102.0                          15.2  ...
3                          109.0                          19.2  ...
4                          108.0                          18.5  ...
..                           ...                           ...  ...
551                        112.0                          17.9  ...
552                        122.8                          26.6  ...
553                        112.7                          18.4  ...
554                        117.8                          18.8  ...
555                        110.3                          18.9  ...

     4. Bal vangen 2  5. Hinkelen 2  6. Bal rollen 2  7. Loopsprong 2  \
0                  1              2                4                1
1                  4              4                4                4
2                NaN            NaN              NaN              NaN
3                NaN            NaN              NaN              NaN
4                  4              4                4                4
..               ...            ...              ...              ...
551                1              4                4                4
552                3              4                4                3
553              NaN            NaN              NaN              NaN
554                3              4                4                3
555              NaN            NaN              NaN              NaN

     8. Bal schoppen 2  9. Voorw. Springen 2  10. Knuppel 2  \
0                    3                     1              1
1                    4                     4              4
2                  NaN                   NaN            NaN
3                  NaN                   NaN            NaN
4                    4                     4              4
..                 ...                   ...            ...
551                  4                     4              2
552                  4                     4              2
553                NaN                   NaN            NaN
554                  4                     4              3
555                NaN                   NaN            NaN

     11. Zijw. Gallop 2  12. Stuiten bal 2  Testdatum 2
0                     1                  1   07.04.2021
1                     4                  4   29.03.2021
2                   NaN                NaN   17.06.2021
3                   NaN                NaN   17.06.2021
4                     4                  4   31.03.2021
..                  ...                ...          ...
551                   4                  4   21.06.2021
552                   4                  4   16.04.2021
553                 NaN                NaN   16.04.2021
554                   3                  3   11.05.2021
555                 NaN                NaN   07.04.2021

[556 rows x 180 columns]

In [ ]:
total_dataset.rename(columns={'Age on testday (t0) 2': 'Age on testday (t0)'}, inplace=True)

In [ ]:
print(total_dataset)

     Unnamed: 0  Respondentnummer  Gender Zip-code Geboortedatum  \
0             0            210153       1  2516 VN    21.08.2016
1             1            212120       1  3079 HK    12.01.2016
2             2            219179       1  2526 HR    19.01.2016
3             3            219172       0  2526 HR    17.01.2016
4             4            201163       0      NaN    17.12.2015
..          ...               ...     ...      ...           ...
551         551            202175       1  3082 VW           NaN
552         552            204101       0  2562 SK           NaN
553         553            204139       1  2562 SK           NaN
554         554            215165       1  2264 KW           NaN
555         555            216103       1  2266 HA           NaN

     Age on testday (t0)  AST (tijd afgerond op 0.1s)          MQ  \
0                 4.0903                         28.1  112.811388
1                 4.1424                         45.6   69.517544
2                 4.1424                         40.4   78.465347
3                 4.1478                         35.6   88.061798
4                 4.1780                         38.7   81.007752
..                   ...                          ...         ...
551                  NaN                         19.7  109.644670
552                  NaN                         21.3         NaN
553                  NaN                         26.9   80.297398
554                  NaN                          NaN         NaN
555                  NaN                          NaN         NaN

     Lengte (afgerond op 0.1 cm)  Gewicht (afgerond op 0.1 kg)  ...  \
0                          103.1                          17.2  ...
1                          105.0                          17.0  ...
2                          102.0                          15.2  ...
3                          109.0                          19.2  ...
4                          108.0                          18.5  ...
..                           ...                           ...  ...
551                        112.0                          17.9  ...
552                        122.8                          26.6  ...
553                        112.7                          18.4  ...
554                        117.8                          18.8  ...
555                        110.3                          18.9  ...

     4. Bal vangen 2  5. Hinkelen 2  6. Bal rollen 2  7. Loopsprong 2  \
0                  1              2                4                1
1                  4              4                4                4
2                NaN            NaN              NaN              NaN
3                NaN            NaN              NaN              NaN
4                  4              4                4                4
..               ...            ...              ...              ...
551                1              4                4                4
552                3              4                4                3
553              NaN            NaN              NaN              NaN
554                3              4                4                3
555              NaN            NaN              NaN              NaN

     8. Bal schoppen 2  9. Voorw. Springen 2  10. Knuppel 2  \
0                    3                     1              1
1                    4                     4              4
2                  NaN                   NaN            NaN
3                  NaN                   NaN            NaN
4                    4                     4              4
..                 ...                   ...            ...
551                  4                     4              2
552                  4                     4              2
553                NaN                   NaN            NaN
554                  4                     4              3
555                NaN                   NaN            NaN

     11. Zijw. Gallop 2  12. Stuiten bal 2  Testdatum 2
0                     1                  1   07.04.2021
1                     4                  4   29.03.2021
2                   NaN                NaN   17.06.2021
3                   NaN                NaN   17.06.2021
4                     4                  4   31.03.2021
..                  ...                ...          ...
551                   4                  4   21.06.2021
552                   4                  4   16.04.2021
553                 NaN                NaN   16.04.2021
554                   3                  3   11.05.2021
555                 NaN                NaN   07.04.2021

[556 rows x 180 columns]

In [45]:
# Drop rows with missing values in Age on testday t0 

total_dataset = total_dataset.drop([555])
print(total_dataset)

     Unnamed: 0  Respondentnummer  Gender Zip-code Geboortedatum  \
0             0            210153       1  2516 VN    21.08.2016
1             1            212120       1  3079 HK    12.01.2016
2             2            219179       1  2526 HR    19.01.2016
3             3            219172       0  2526 HR    17.01.2016
4             4            201163       0      NaN    17.12.2015
..          ...               ...     ...      ...           ...
550         550            209146       0  2571 VD    07.02.2013
551         551            202175       1  3082 VW           NaN
552         552            204101       0  2562 SK           NaN
553         553            204139       1  2562 SK           NaN
554         554            215165       1  2264 KW           NaN

     Leeftijd (op testdag)  AST (tijd afgerond op 0.1s)          MQ  \
0                   4.0903                        28.10  112.811388
1                   4.1424                        45.60   69.517544
2                   4.1424                        40.40   78.465347
3                   4.1478                        35.60   88.061798
4                   4.1780                        38.70   81.007752
..                     ...                          ...         ...
550                 7.6386                        17.43         NaN
551                    NaN                        19.70  109.644670
552                    NaN                        21.30         NaN
553                    NaN                        26.90   80.297398
554                    NaN                          NaN         NaN

     Lengte (afgerond op 0.1 cm)  Gewicht (afgerond op 0.1 kg)  ...  \
0                          103.1                          17.2  ...
1                          105.0                          17.0  ...
2                          102.0                          15.2  ...
3                          109.0                          19.2  ...
4                          108.0                          18.5  ...
..                           ...                           ...  ...
550                        120.3                          24.8  ...
551                        112.0                          17.9  ...
552                        122.8                          26.6  ...
553                        112.7                          18.4  ...
554                        117.8                          18.8  ...

     4. Bal vangen 2  5. Hinkelen 2  6. Bal rollen 2  7. Loopsprong 2  \
0                  1              2                4                1
1                  4              4                4                4
2                NaN            NaN              NaN              NaN
3                NaN            NaN              NaN              NaN
4                  4              4                4                4
..               ...            ...              ...              ...
550                4              3                4                4
551                1              4                4                4
552                3              4                4                3
553              NaN            NaN              NaN              NaN
554                3              4                4                3

     8. Bal schoppen 2  9. Voorw. Springen 2  10. Knuppel 2  \
0                    3                     1              1
1                    4                     4              4
2                  NaN                   NaN            NaN
3                  NaN                   NaN            NaN
4                    4                     4              4
..                 ...                   ...            ...
550                  3                     4              3
551                  4                     4              2
552                  4                     4              2
553                NaN                   NaN            NaN
554                  4                     4              3

     11. Zijw. Gallop 2  12. Stuiten bal 2  Testdatum 2
0                     1                  1   07.04.2021
1                     4                  4   29.03.2021
2                   NaN                NaN   17.06.2021
3                   NaN                NaN   17.06.2021
4                     4                  4   31.03.2021
..                  ...                ...          ...
550                   3                  4   17.05.2021
551                   4                  4   21.06.2021
552                   4                  4   16.04.2021
553                 NaN                NaN   16.04.2021
554                   3                  3   11.05.2021

[555 rows x 182 columns]

In [46]:
total_dataset = total_dataset.drop([554])
print(total_dataset)

     Unnamed: 0  Respondentnummer  Gender Zip-code Geboortedatum  \
0             0            210153       1  2516 VN    21.08.2016
1             1            212120       1  3079 HK    12.01.2016
2             2            219179       1  2526 HR    19.01.2016
3             3            219172       0  2526 HR    17.01.2016
4             4            201163       0      NaN    17.12.2015
..          ...               ...     ...      ...           ...
549         549            209121       0  2571 VD    10.07.2013
550         550            209146       0  2571 VD    07.02.2013
551         551            202175       1  3082 VW           NaN
552         552            204101       0  2562 SK           NaN
553         553            204139       1  2562 SK           NaN

     Leeftijd (op testdag)  AST (tijd afgerond op 0.1s)          MQ  \
0                   4.0903                        28.10  112.811388
1                   4.1424                        45.60   69.517544
2                   4.1424                        40.40   78.465347
3                   4.1478                        35.60   88.061798
4                   4.1780                        38.70   81.007752
..                     ...                          ...         ...
549                 7.2197                        17.56         NaN
550                 7.6386                        17.43         NaN
551                    NaN                        19.70  109.644670
552                    NaN                        21.30         NaN
553                    NaN                        26.90   80.297398

     Lengte (afgerond op 0.1 cm)  Gewicht (afgerond op 0.1 kg)  ...  \
0                          103.1                          17.2  ...
1                          105.0                          17.0  ...
2                          102.0                          15.2  ...
3                          109.0                          19.2  ...
4                          108.0                          18.5  ...
..                           ...                           ...  ...
549                        119.0                          21.4  ...
550                        120.3                          24.8  ...
551                        112.0                          17.9  ...
552                        122.8                          26.6  ...
553                        112.7                          18.4  ...

     4. Bal vangen 2  5. Hinkelen 2  6. Bal rollen 2  7. Loopsprong 2  \
0                  1              2                4                1
1                  4              4                4                4
2                NaN            NaN              NaN              NaN
3                NaN            NaN              NaN              NaN
4                  4              4                4                4
..               ...            ...              ...              ...
549              NaN            NaN              NaN              NaN
550                4              3                4                4
551                1              4                4                4
552                3              4                4                3
553              NaN            NaN              NaN              NaN

     8. Bal schoppen 2  9. Voorw. Springen 2  10. Knuppel 2  \
0                    3                     1              1
1                    4                     4              4
2                  NaN                   NaN            NaN
3                  NaN                   NaN            NaN
4                    4                     4              4
..                 ...                   ...            ...
549                NaN                   NaN            NaN
550                  3                     4              3
551                  4                     4              2
552                  4                     4              2
553                NaN                   NaN            NaN

     11. Zijw. Gallop 2  12. Stuiten bal 2  Testdatum 2
0                     1                  1   07.04.2021
1                     4                  4   29.03.2021
2                   NaN                NaN   17.06.2021
3                   NaN                NaN   17.06.2021
4                     4                  4   31.03.2021
..                  ...                ...          ...
549                 NaN                NaN   17.05.2021
550                   3                  4   17.05.2021
551                   4                  4   21.06.2021
552                   4                  4   16.04.2021
553                 NaN                NaN   16.04.2021

[554 rows x 182 columns]

In [47]:
total_dataset = total_dataset.drop([553])
print(total_dataset)

     Unnamed: 0  Respondentnummer  Gender Zip-code Geboortedatum  \
0             0            210153       1  2516 VN    21.08.2016
1             1            212120       1  3079 HK    12.01.2016
2             2            219179       1  2526 HR    19.01.2016
3             3            219172       0  2526 HR    17.01.2016
4             4            201163       0      NaN    17.12.2015
..          ...               ...     ...      ...           ...
548         548            207117       1  2313 AB    07.05.2013
549         549            209121       0  2571 VD    10.07.2013
550         550            209146       0  2571 VD    07.02.2013
551         551            202175       1  3082 VW           NaN
552         552            204101       0  2562 SK           NaN

     Leeftijd (op testdag)  AST (tijd afgerond op 0.1s)          MQ  \
0                   4.0903                        28.10  112.811388
1                   4.1424                        45.60   69.517544
2                   4.1424                        40.40   78.465347
3                   4.1478                        35.60   88.061798
4                   4.1780                        38.70   81.007752
..                     ...                          ...         ...
548                 7.1704                        22.80    0.000000
549                 7.2197                        17.56         NaN
550                 7.6386                        17.43         NaN
551                    NaN                        19.70  109.644670
552                    NaN                        21.30         NaN

     Lengte (afgerond op 0.1 cm)  Gewicht (afgerond op 0.1 kg)  ...  \
0                          103.1                          17.2  ...
1                          105.0                          17.0  ...
2                          102.0                          15.2  ...
3                          109.0                          19.2  ...
4                          108.0                          18.5  ...
..                           ...                           ...  ...
548                        114.2                          22.4  ...
549                        119.0                          21.4  ...
550                        120.3                          24.8  ...
551                        112.0                          17.9  ...
552                        122.8                          26.6  ...

     4. Bal vangen 2  5. Hinkelen 2  6. Bal rollen 2  7. Loopsprong 2  \
0                  1              2                4                1
1                  4              4                4                4
2                NaN            NaN              NaN              NaN
3                NaN            NaN              NaN              NaN
4                  4              4                4                4
..               ...            ...              ...              ...
548                4              4                4                4
549              NaN            NaN              NaN              NaN
550                4              3                4                4
551                1              4                4                4
552                3              4                4                3

     8. Bal schoppen 2  9. Voorw. Springen 2  10. Knuppel 2  \
0                    3                     1              1
1                    4                     4              4
2                  NaN                   NaN            NaN
3                  NaN                   NaN            NaN
4                    4                     4              4
..                 ...                   ...            ...
548                  2                     4              4
549                NaN                   NaN            NaN
550                  3                     4              3
551                  4                     4              2
552                  4                     4              2

     11. Zijw. Gallop 2  12. Stuiten bal 2  Testdatum 2
0                     1                  1   07.04.2021
1                     4                  4   29.03.2021
2                   NaN                NaN   17.06.2021
3                   NaN                NaN   17.06.2021
4                     4                  4   31.03.2021
..                  ...                ...          ...
548                   4                  4   12.04.2021
549                 NaN                NaN   17.05.2021
550                   3                  4   17.05.2021
551                   4                  4   21.06.2021
552                   4                  4   16.04.2021

[553 rows x 182 columns]

In [ ]:
total_dataset = total_dataset.drop([552])
print(total_dataset)

In [54]:
total_dataset = total_dataset.drop([551])
print(total_dataset)

     Unnamed: 0  Respondentnummer  Gender Zip-code Geboortedatum  \
0           0.0          210153.0     1.0  2516 VN    21.08.2016
1           1.0          212120.0     1.0  3079 HK    12.01.2016
2           2.0          219179.0     1.0  2526 HR    19.01.2016
3           3.0          219172.0     0.0  2526 HR    17.01.2016
4           4.0          201163.0     0.0      NaN    17.12.2015
..          ...               ...     ...      ...           ...
547       547.0          219304.0     1.0      NaN    30.01.2013
548       548.0          207117.0     1.0  2313 AB    07.05.2013
549       549.0          209121.0     0.0  2571 VD    10.07.2013
550       550.0          209146.0     0.0  2571 VD    07.02.2013
551         NaN               NaN     NaN      NaN           NaN

     Leeftijd (op testdag)  AST (tijd afgerond op 0.1s)          MQ  \
0                   4.0903                        28.10  112.811388
1                   4.1424                        45.60   69.517544
2                   4.1424                        40.40   78.465347
3                   4.1478                        35.60   88.061798
4                   4.1780                        38.70   81.007752
..                     ...                          ...         ...
547                 7.1102                        30.40         NaN
548                 7.1704                        22.80    0.000000
549                 7.2197                        17.56         NaN
550                 7.6386                        17.43         NaN
551                    NaN                          NaN         NaN

     Lengte (afgerond op 0.1 cm)  Gewicht (afgerond op 0.1 kg)  ...  \
0                          103.1                          17.2  ...
1                          105.0                          17.0  ...
2                          102.0                          15.2  ...
3                          109.0                          19.2  ...
4                          108.0                          18.5  ...
..                           ...                           ...  ...
547                        117.0                          20.7  ...
548                        114.2                          22.4  ...
549                        119.0                          21.4  ...
550                        120.3                          24.8  ...
551                          NaN                           NaN  ...

     5. Hinkelen 2  6. Bal rollen 2  7. Loopsprong 2  8. Bal schoppen 2  \
0                2                4                1                  3
1                4                4                4                  4
2              NaN              NaN              NaN                NaN
3              NaN              NaN              NaN                NaN
4                4                4                4                  4
..             ...              ...              ...                ...
547            NaN              NaN              NaN                NaN
548              4                4                4                  2
549            NaN              NaN              NaN                NaN
550              3                4                4                  3
551            NaN              NaN              NaN                NaN

     9. Voorw. Springen 2  10. Knuppel 2  11. Zijw. Gallop 2  \
0                       1              1                   1
1                       4              4                   4
2                     NaN            NaN                 NaN
3                     NaN            NaN                 NaN
4                       4              4                   4
..                    ...            ...                 ...
547                   NaN            NaN                 NaN
548                     4              4                   4
549                   NaN            NaN                 NaN
550                     4              3                   3
551                   NaN            NaN                 NaN

     12. Stuiten bal 2  Testdatum 2  Age on testday (t0)
0                    1   07.04.2021                  NaN
1                    4   29.03.2021                  NaN
2                  NaN   17.06.2021                  NaN
3                  NaN   17.06.2021                  NaN
4                    4   31.03.2021                  NaN
..                 ...          ...                  ...
547                NaN          NaN                  NaN
548                  4   12.04.2021                  NaN
549                NaN   17.05.2021                  NaN
550                  4   17.05.2021                  NaN
551                NaN          NaN           28.03.2014

[552 rows x 183 columns]

In [61]:
# Rename column with age on testday t1 --> Age on testday (t1)

total_dataset.rename(columns={'Leeftijd op testdag': 'Age on testday (t1)'}, inplace=True)
print(total_dataset['Age on testday (t1)'])

0      4.0903
1      4.1424
2      4.1424
3      4.1478
4      4.1780
        ...
551       NaN
552       NaN
553       NaN
554       NaN
555       NaN
Name: Leeftijd (op testdag), Length: 556, dtype: float64
0      4.62696783025325
1      5.21013004791239
2                   NaN
3                   NaN
4      5.28678986995209
             ...
547                 NaN
548     7.9315537303217
549    7.85215605749487
550    8.27104722792608
551                 NaN
Name: Age on testday (t1), Length: 552, dtype: object

In [62]:
old_total_dataset = pd.read_csv('./total.csv', sep=',')
print(old_total_dataset['Leeftijd (op testdag)'])

total_dataset.insert(5, "Age on testday (t0) 2", pd.Series(old_total_dataset['Leeftijd (op testdag)']))
print(total_dataset)

0      4.0903
1      4.1424
2      4.1424
3      4.1478
4      4.1780
        ...
551       NaN
552       NaN
553       NaN
554       NaN
555       NaN
Name: Leeftijd (op testdag), Length: 556, dtype: float64
     Unnamed: 0  Respondentnummer  Gender Zip-code Geboortedatum  \
0           0.0          210153.0     1.0  2516 VN    21.08.2016
1           1.0          212120.0     1.0  3079 HK    12.01.2016
2           2.0          219179.0     1.0  2526 HR    19.01.2016
3           3.0          219172.0     0.0  2526 HR    17.01.2016
4           4.0          201163.0     0.0      NaN    17.12.2015
..          ...               ...     ...      ...           ...
547       547.0          219304.0     1.0      NaN    30.01.2013
548       548.0          207117.0     1.0  2313 AB    07.05.2013
549       549.0          209121.0     0.0  2571 VD    10.07.2013
550       550.0          209146.0     0.0  2571 VD    07.02.2013
551         NaN               NaN     NaN      NaN           NaN

     Age on testday (t0) 2  Leeftijd (op testdag)  \
0                   4.0903                 4.0903
1                   4.1424                 4.1424
2                   4.1424                 4.1424
3                   4.1478                 4.1478
4                   4.1780                 4.1780
..                     ...                    ...
547                 7.1102                 7.1102
548                 7.1704                 7.1704
549                 7.2197                 7.2197
550                 7.6386                 7.6386
551                    NaN                    NaN

     AST (tijd afgerond op 0.1s)          MQ  Lengte (afgerond op 0.1 cm)  \
0                          28.10  112.811388                        103.1
1                          45.60   69.517544                        105.0
2                          40.40   78.465347                        102.0
3                          35.60   88.061798                        109.0
4                          38.70   81.007752                        108.0
..                           ...         ...                          ...
547                        30.40         NaN                        117.0
548                        22.80    0.000000                        114.2
549                        17.56         NaN                        119.0
550                        17.43         NaN                        120.3
551                          NaN         NaN                          NaN

     ...  5. Hinkelen 2  6. Bal rollen 2  7. Loopsprong 2  8. Bal schoppen 2  \
0    ...              2                4                1                  3
1    ...              4                4                4                  4
2    ...            NaN              NaN              NaN                NaN
3    ...            NaN              NaN              NaN                NaN
4    ...              4                4                4                  4
..   ...            ...              ...              ...                ...
547  ...            NaN              NaN              NaN                NaN
548  ...              4                4                4                  2
549  ...            NaN              NaN              NaN                NaN
550  ...              3                4                4                  3
551  ...            NaN              NaN              NaN                NaN

     9. Voorw. Springen 2  10. Knuppel 2  11. Zijw. Gallop 2  \
0                       1              1                   1
1                       4              4                   4
2                     NaN            NaN                 NaN
3                     NaN            NaN                 NaN
4                       4              4                   4
..                    ...            ...                 ...
547                   NaN            NaN                 NaN
548                     4              4                   4
549                   NaN            NaN                 NaN
550                     4              3                   3
551                   NaN            NaN                 NaN

     12. Stuiten bal 2  Testdatum 2  Age on testday (t0)
0                    1   07.04.2021                  NaN
1                    4   29.03.2021                  NaN
2                  NaN   17.06.2021                  NaN
3                  NaN   17.06.2021                  NaN
4                    4   31.03.2021                  NaN
..                 ...          ...                  ...
547                NaN          NaN                  NaN
548                  4   12.04.2021                  NaN
549                NaN   17.05.2021                  NaN
550                  4   17.05.2021                  NaN
551                NaN          NaN           28.03.2014

[552 rows x 184 columns]

In [63]:
total_dataset.rename(columns={'Age on testday (t0) 2': 'Age on testday (t0)'}, inplace=True)

In [64]:
print(total_dataset)

     Unnamed: 0  Respondentnummer  Gender Zip-code Geboortedatum  \
0           0.0          210153.0     1.0  2516 VN    21.08.2016
1           1.0          212120.0     1.0  3079 HK    12.01.2016
2           2.0          219179.0     1.0  2526 HR    19.01.2016
3           3.0          219172.0     0.0  2526 HR    17.01.2016
4           4.0          201163.0     0.0      NaN    17.12.2015
..          ...               ...     ...      ...           ...
547       547.0          219304.0     1.0      NaN    30.01.2013
548       548.0          207117.0     1.0  2313 AB    07.05.2013
549       549.0          209121.0     0.0  2571 VD    10.07.2013
550       550.0          209146.0     0.0  2571 VD    07.02.2013
551         NaN               NaN     NaN      NaN           NaN

     Age on testday (t0)  Leeftijd (op testdag)  AST (tijd afgerond op 0.1s)  \
0                 4.0903                 4.0903                        28.10
1                 4.1424                 4.1424                        45.60
2                 4.1424                 4.1424                        40.40
3                 4.1478                 4.1478                        35.60
4                 4.1780                 4.1780                        38.70
..                   ...                    ...                          ...
547               7.1102                 7.1102                        30.40
548               7.1704                 7.1704                        22.80
549               7.2197                 7.2197                        17.56
550               7.6386                 7.6386                        17.43
551                  NaN                    NaN                          NaN

             MQ  Lengte (afgerond op 0.1 cm)  ...  5. Hinkelen 2  \
0    112.811388                        103.1  ...              2
1     69.517544                        105.0  ...              4
2     78.465347                        102.0  ...            NaN
3     88.061798                        109.0  ...            NaN
4     81.007752                        108.0  ...              4
..          ...                          ...  ...            ...
547         NaN                        117.0  ...            NaN
548    0.000000                        114.2  ...              4
549         NaN                        119.0  ...            NaN
550         NaN                        120.3  ...              3
551         NaN                          NaN  ...            NaN

     6. Bal rollen 2  7. Loopsprong 2  8. Bal schoppen 2  \
0                  4                1                  3
1                  4                4                  4
2                NaN              NaN                NaN
3                NaN              NaN                NaN
4                  4                4                  4
..               ...              ...                ...
547              NaN              NaN                NaN
548                4                4                  2
549              NaN              NaN                NaN
550                4                4                  3
551              NaN              NaN                NaN

     9. Voorw. Springen 2  10. Knuppel 2  11. Zijw. Gallop 2  \
0                       1              1                   1
1                       4              4                   4
2                     NaN            NaN                 NaN
3                     NaN            NaN                 NaN
4                       4              4                   4
..                    ...            ...                 ...
547                   NaN            NaN                 NaN
548                     4              4                   4
549                   NaN            NaN                 NaN
550                     4              3                   3
551                   NaN            NaN                 NaN

     12. Stuiten bal 2  Testdatum 2  Age on testday (t0)
0                    1   07.04.2021                  NaN
1                    4   29.03.2021                  NaN
2                  NaN   17.06.2021                  NaN
3                  NaN   17.06.2021                  NaN
4                    4   31.03.2021                  NaN
..                 ...          ...                  ...
547                NaN          NaN                  NaN
548                  4   12.04.2021                  NaN
549                NaN   17.05.2021                  NaN
550                  4   17.05.2021                  NaN
551                NaN          NaN           28.03.2014

[552 rows x 184 columns]

In [72]:
print(total_dataset)

     Unnamed: 0  Respondentnummer  Gender Zip-code Geboortedatum  \
0           0.0          210153.0     1.0  2516 VN    21.08.2016
1           1.0          212120.0     1.0  3079 HK    12.01.2016
2           2.0          219179.0     1.0  2526 HR    19.01.2016
3           3.0          219172.0     0.0  2526 HR    17.01.2016
4           4.0          201163.0     0.0      NaN    17.12.2015
..          ...               ...     ...      ...           ...
547       547.0          219304.0     1.0      NaN    30.01.2013
548       548.0          207117.0     1.0  2313 AB    07.05.2013
549       549.0          209121.0     0.0  2571 VD    10.07.2013
550       550.0          209146.0     0.0  2571 VD    07.02.2013
551         NaN               NaN     NaN      NaN           NaN

     Age on testday (t0)  Leeftijd (op testdag)  AST (tijd afgerond op 0.1s)  \
0                 4.0903                 4.0903                        28.10
1                 4.1424                 4.1424                        45.60
2                 4.1424                 4.1424                        40.40
3                 4.1478                 4.1478                        35.60
4                 4.1780                 4.1780                        38.70
..                   ...                    ...                          ...
547               7.1102                 7.1102                        30.40
548               7.1704                 7.1704                        22.80
549               7.2197                 7.2197                        17.56
550               7.6386                 7.6386                        17.43
551                  NaN                    NaN                          NaN

             MQ  Lengte (afgerond op 0.1 cm)  ...  5. Hinkelen 2  \
0    112.811388                        103.1  ...              2
1     69.517544                        105.0  ...              4
2     78.465347                        102.0  ...            NaN
3     88.061798                        109.0  ...            NaN
4     81.007752                        108.0  ...              4
..          ...                          ...  ...            ...
547         NaN                        117.0  ...            NaN
548    0.000000                        114.2  ...              4
549         NaN                        119.0  ...            NaN
550         NaN                        120.3  ...              3
551         NaN                          NaN  ...            NaN

     6. Bal rollen 2  7. Loopsprong 2  8. Bal schoppen 2  \
0                  4                1                  3
1                  4                4                  4
2                NaN              NaN                NaN
3                NaN              NaN                NaN
4                  4                4                  4
..               ...              ...                ...
547              NaN              NaN                NaN
548                4                4                  2
549              NaN              NaN                NaN
550                4                4                  3
551              NaN              NaN                NaN

     9. Voorw. Springen 2  10. Knuppel 2  11. Zijw. Gallop 2  \
0                       1              1                   1
1                       4              4                   4
2                     NaN            NaN                 NaN
3                     NaN            NaN                 NaN
4                       4              4                   4
..                    ...            ...                 ...
547                   NaN            NaN                 NaN
548                     4              4                   4
549                   NaN            NaN                 NaN
550                     4              3                   3
551                   NaN            NaN                 NaN

     12. Stuiten bal 2  Testdatum 2  Age on testday (t0)
0                    1   07.04.2021                  NaN
1                    4   29.03.2021                  NaN
2                  NaN   17.06.2021                  NaN
3                  NaN   17.06.2021                  NaN
4                    4   31.03.2021                  NaN
..                 ...          ...                  ...
547                NaN          NaN                  NaN
548                  4   12.04.2021                  NaN
549                NaN   17.05.2021                  NaN
550                  4   17.05.2021                  NaN
551                NaN          NaN           28.03.2014

[552 rows x 184 columns]

In [76]:
print(total_dataset)

     Unnamed: 0  Respondentnummer  Gender Zip-code Geboortedatum  \
0           0.0          210153.0     1.0  2516 VN    21.08.2016
1           1.0          212120.0     1.0  3079 HK    12.01.2016
2           2.0          219179.0     1.0  2526 HR    19.01.2016
3           3.0          219172.0     0.0  2526 HR    17.01.2016
4           4.0          201163.0     0.0      NaN    17.12.2015
..          ...               ...     ...      ...           ...
547       547.0          219304.0     1.0      NaN    30.01.2013
548       548.0          207117.0     1.0  2313 AB    07.05.2013
549       549.0          209121.0     0.0  2571 VD    10.07.2013
550       550.0          209146.0     0.0  2571 VD    07.02.2013
551         NaN               NaN     NaN      NaN           NaN

     Age on testday (t0)  Leeftijd (op testdag)  AST (tijd afgerond op 0.1s)  \
0                 4.0903                 4.0903                        28.10
1                 4.1424                 4.1424                        45.60
2                 4.1424                 4.1424                        40.40
3                 4.1478                 4.1478                        35.60
4                 4.1780                 4.1780                        38.70
..                   ...                    ...                          ...
547               7.1102                 7.1102                        30.40
548               7.1704                 7.1704                        22.80
549               7.2197                 7.2197                        17.56
550               7.6386                 7.6386                        17.43
551                  NaN                    NaN                          NaN

             MQ  Lengte (afgerond op 0.1 cm)  ...  5. Hinkelen 2  \
0    112.811388                        103.1  ...              2
1     69.517544                        105.0  ...              4
2     78.465347                        102.0  ...            NaN
3     88.061798                        109.0  ...            NaN
4     81.007752                        108.0  ...              4
..          ...                          ...  ...            ...
547         NaN                        117.0  ...            NaN
548    0.000000                        114.2  ...              4
549         NaN                        119.0  ...            NaN
550         NaN                        120.3  ...              3
551         NaN                          NaN  ...            NaN

     6. Bal rollen 2  7. Loopsprong 2  8. Bal schoppen 2  \
0                  4                1                  3
1                  4                4                  4
2                NaN              NaN                NaN
3                NaN              NaN                NaN
4                  4                4                  4
..               ...              ...                ...
547              NaN              NaN                NaN
548                4                4                  2
549              NaN              NaN                NaN
550                4                4                  3
551              NaN              NaN                NaN

     9. Voorw. Springen 2  10. Knuppel 2  11. Zijw. Gallop 2  \
0                       1              1                   1
1                       4              4                   4
2                     NaN            NaN                 NaN
3                     NaN            NaN                 NaN
4                       4              4                   4
..                    ...            ...                 ...
547                   NaN            NaN                 NaN
548                     4              4                   4
549                   NaN            NaN                 NaN
550                     4              3                   3
551                   NaN            NaN                 NaN

     12. Stuiten bal 2  Testdatum 2  Age on testday (t0)
0                    1   07.04.2021                  NaN
1                    4   29.03.2021                  NaN
2                  NaN   17.06.2021                  NaN
3                  NaN   17.06.2021                  NaN
4                    4   31.03.2021                  NaN
..                 ...          ...                  ...
547                NaN          NaN                  NaN
548                  4   12.04.2021                  NaN
549                NaN   17.05.2021                  NaN
550                  4   17.05.2021                  NaN
551                NaN          NaN           28.03.2014

[552 rows x 184 columns]

In [77]:
total_dataset.to_csv(r'./total_cleaned_v1.csv')